<div [class.over]="isOver" [class.winner]="isWinner" [class.loser]="isLoser" class="chel-series-card mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col mdl-cell--middle chel-series-card">
	<div class="chel-series-card-title mdl-card__title">
		<span>Series # vs {{opponentName}}</span>
		<div class="mdl-layout-spacer"></div>
		<div class="chel-series-card-best-of">Best of {{series.length}}</div>
		<button [attr.id]="'series-more-button' + series.id" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			<i class="material-icons">more_vert</i>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" [attr.for]="'series-more-button' + series.id">
			<li (click)="startGame()" class="mdl-menu__item">Start Game</li>
			<li (click)="deleteSeries()" class="mdl-menu__item">Delete</li>
		</ul>
	</div>
	<div (click)="goToDetail()" class="chel-series-content mdl-card__supporting-text">
		<div class="chel-series-user-container chel-series-user-away-container">
			<!--<div class="logo"><img src="{{homeTeam.logoUrl}}"/></div>-->
			<div class="user-name">{{awayUser.name}}</div>
		</div>
		<div class="chel-series-score-container">
			<div class="score">{{awayGamesWon}} - {{homeGamesWon}}</div>
			<div class="at">@</div>
			<div class="elimination"><span *ngIf="isElimination">ELIMINATION GAME</span></div>
		</div>
		<div class="chel-series-user-container chel-series-user-home-container">
			<!--<div class="logo"><img src="{{awayTeam.logoUrl}}"/></div>-->
			<div class="user-name">{{homeUser.name}}</div>
		</div>
	</div>
</div>