.chel-series-card {
	min-height: 165px;
}

.chel-series-card-title {
	background-color:#DE3E35;
	color:#fff;
	padding-top:1px;
	padding-bottom:1px;
}

.chel-series-card.over .chel-series-card-title {
	background-color:#333;
	color:#fff;
}

.chel-series-card-best-of {
	float: left;
	margin-right: 5px;
	color: #fff;
    font-weight: 100;
    font-size: 13px;
}

.chel-series-content {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-flex-direction: row; /* Safari */
	flex-direction: row;
	-webkit-flex-wrap: nowrap; /* Safari */
	flex-wrap: nowrap;
	-webkit-justify-content: center; /* Safari */
	justify-content: center;
	-webkit-align-items: stretch; /* Safari */
	align-items: stretch;
}

.chel-series-user-container .logo img {
	height: 50px;
	width:50px;
}

.chel-series-user-container {
	/*background-color:lightgray;*/
	text-align: center;
}

.chel-series-user-container .user-name {
	font-size: 23px;
    margin-top: 19px;
	color:#333;
}

.chel-series-user-away-container {
	-webkit-flex-grow: 1; /* Safari */
	flex-grow: 1;
}

.chel-series-user-home-container {
	-webkit-flex-grow: 1; /* Safari */
	flex-grow: 1;
}

.chel-series-score-container {
	-webkit-flex-grow: 2; /* Safari */
	flex-grow: 2;
	/*background-color:gray;*/
	text-align:center;
}

.chel-series-score-container .score {
	margin-top: 17px;
	color: #333;
	font-size: 54px;
}

.loser .chel-series-score-container .score {
	color:#DE3E35;
}

.winner .chel-series-score-container .score {
	color:green;
}

.chel-series-score-container .at {
	font-size: 29px;
    margin-top: 25px;
    color: #e1e1e1;
}

.chel-series-score-container .elimination,
.chel-series-score-container .final {
	margin-top: 15px;
	font-size: 10px;
	font-weight: 700;
}