<div>
Default Series Length: radio buttons 3, 5, 7
Default Home User: user dropdown
Generate Random Team Choices: disabled switch
Enforce Team Rules: disabled switch
</div>

<span class="mdl-radio__label">Default Series Length: </span>
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
	<span class="mdl-radio__label">3</span>
	<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="3" checked>
</label>
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
	<span class="mdl-radio__label">5</span>
	<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="5">
<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
</label>
	<span class="mdl-radio__label">7</span>
	<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="7">
</label>